<!DOCTYPE html>
<html>

   <head>
      <title>Header Parser Microservice</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
	<h1>Header Parser Microservice</h1>
      <div class="boxed container">
         <h2>Description</h2>
         <p> The Header Parser Microservice accepts the GET request containing "/whoami" appended to the hosting address, 
	     then the Header Parser Microservice outputs the user's IPv4 address, their computer's language, and their operating system information(user agent info). This is accomplished by parsing the header of the GET request.<br></p>
	 <h2>How To Use</h2>
	 <p>Append your "/whoami" to the end of the current url, like so: https://productive-trainer.glitch.me/whoami <br>   <br>
	    This can either be done in your address bar or by using the http GET protocol.
	 <p>Example output: {"ipaddress":"12.222.222.222", "natural":"en-US","software":"Windows NT 10.0; Win64; x64"}</p>
	 
	
	 
      </div>
      <a href="https://github.com/rmweir/HeaderParserMicroservice">
            <img src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="Microservice Repo" height="50" width="50">
      </a> 
   </body>

</html>
